
body {
  font-family: 'Inter', serif;
  font-size: 14px;
  background-color: black;
  color: #ffffff;
}

h1 {
padding-left: 100px;
}

h2 {
  padding-left: 100px;
}

.planetdiv {
  background-color: #14213d;
  padding-left: 100px;
  padding-bottom: 20px;
}

.planetPic {
  height: 240px;
  width: 280x;
}

.sidenav {
  width: 90px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #E5E5E5;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 12px;
  color: #2196F3;
  display: block;
}



